<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to realestate.com, <%= @name %></h1>
    <p>
      <%=@name%> want to contact with us <br/>
       Name : <%= @name %>.<br/>
	  <%=@name%> Email Address : <%= @u_email %>.<br/>
	  Phone Number:<%=@phone%><br/>
	  Message:<%=@message%><br/>
	    <br>
    </p>
	   
    <p>
      
    </p>
    <p></p>
  </body>
</html>