<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to realestate.com, 
	 your shop is register sucessfully  with this <%= @name %> name </h1>
    <p>
      You have successfully signed up to realstate.com,
      your  shop id is: <%= @id %>.<br/>
	   your Password is: <%= @password %>.<br/>
	   You need to varify your mail id <br>
	   click this link <%=@link%> to varify 
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>