<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to realestate.com, <%=@name %></h1>
    <p>
      Thanks for show intrest in this property <br><br>
	  Property Details <br><br>
      Property Name: <%= @property[1] %>.<br/>
	  Price: <%= @property[2] %>.<br/>
	  State: <%= @property[3] %>.<br/>
	  Property Type: <%= @property[4] %>.<br/>
	  Sub Property type: <%= @property[8] %>.<br/>
	  Purpose: <%= @property[5] %>.<br/>
	  Bedroom: <%= @property[6] %>.<br/>
	  Details: <%= @property[9] %>.<br/> <br>
    </p>
    <p>
      
    </p>
    <p>Thanks have a great day!</p>
  </body>
</html>