 <!DOCTYPE html>
<html>
 <head>
   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
 </head>
 <body>
   <h1>Requirement of customer, <%= @name %></h1>
   <p>
     <%=@name%> have some requirement <br/>
      Name : <%= @name %>.<br/>
         <%=@name%> Email Address : <%= @u_email %>.<br/>
         Phone Number:<%=@phone%><br/>
         Property type:<%=@propertytype%><br/>
         Sub Property type:<%=@subpropertytype%><br/>
         Purpose:<%=@purpose%><br/>
         Bed room:<%=@bedroom%><br/>
         Price Limit:<%=@price%><br/>
         Location:<%=@location%><br/>
           <br>
   </p>
          
   <p>
     
   </p>
   <p></p>
 </body>
</html>