<html>
<head></head>
<body style="margin-top: 11%;margin-left: 10px">
<div class="row" style="height:1280px; width:1000px;">
<div class="span5" style="float:left;height:1200px; width:700px";>
<table class="table table-striped" style="width:300px; background-color:#A9A9F5; color: #000000; border: 2px solid black;float:right;"> 
				<tr class="success">
					<td>Features</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr class="warning">
					
					<td>Name</td>
					<td>Email</td>
					<td>Phone</td>
					<td>Message</td>
					<td></td>
					<td></td>
				</tr>
				<%@t.each do |i|%>
				<tr >
					<td><%=i["name"]%></td>
					<td><%=i["email"]%></td>
					<td><%=i["phone"]%></td>
					<td><%=i["message"]%></td>
				<td><%=link_to "Delete", :controller => "real", :action => "contaview", :id => @profile,:name => "deletecontact", :method => :post,:message=>i["message"]%></td>
				
				</tr>
				
				<%end%>
				
			</table>
			
	</div>
	</div>
</body>
</html>