<html>
<body style="margin-top: 11%;">


	<div class="row" style="padding-right:20px;padding-left:10px;padding-top:10px;"> 
	
		
		
		
		

		<div>
	   
			<div id="container" style="width:630px;padding-left:20px;background-color:#FBFBEF; float: left;">
				<div class="wellside">
					<div class="alert">
						<div class="page-schres">
							<h4>
							
   
								<small> <%=@s%></small> Your Saved Properties  <%=@pt%>

							</h4>
						</div>
					</div>
				</div>	
				<ul class="thumbnails">
				
			
				<%@t.each do |m|%>
					<%m.each do |i|%>
             
					<li class="span2">
						<div id="image1" class="thumbnail"  style="background-color:#FFFFFF;>
							
							<%= link_to  "" %>
							<%= link_to image_tag(i["image"], :width => 225, :height => 175), :controller => "real",:action => 'listing', :id => @profile,:name => "Residential", :method => :post,:img=>i["image"],:price=>i["price"],:bed=>i["bedroom"],:nam=>i["property_name"],:purpose=>i["purpose"],:type=>i["property_type"],:contant=>i["contant"],:p_id=>i["property_id"],:click=>"saved_properties"%>
								<div class="caption">
									<h4><%=link_to i["property_name"], :controller => "real", :action => "listing", :id => @profile,:name => "Residential", :method => :post,:img=>i["image"],:price=>i["price"],:bed=>i["bedroom"],:nam=>i["property_name"],:purpose=>i["purpose"],:type=>i["property_type"],:contant=>i["contant"],:p_id=>i["property_id"],:click=>"saved_properties"%></h4>
									<p><%=truncate(i["contant"], :length => 25, :separator => ' ')%></p>
									<br>
									
							
							
							
							
									
									
								</div>
						</div>
					</li>
				<%end%>
				<%end%>
		</ul>
		
	
			</div>
		</div>
	   
	</div>


</body>
</html>