 
  <html>
  <head>
  </head>
	<body style="margin-top: 11%;">

	<div class="row" style="height:70%; width:100%;">
   <div style="float:left;height:100%; width:67%;padding-left:3%;">
   
	
	<%= form_tag({ controller:'real', :action => 'story'}, :multipart => true) do %>
		
		 <fieldset style="height: 100%;width:100%; background-color: ; color: #000000; border: 2px solid black;padding-left:20px;background-image:
		url('/images/back1.jpg');">
		<br>
		<br>
		<br>
		<br>
	
		<tab id=t1><h1>Stories <small>share your stories with us</small></h1></tab>
		<hr>
		<br>
		<br>
		<tab id=t1><h5><%=session[:s_contant]%></h5>
		<br>
		<br>
		 <label class="control-label">
		Name
		<span class="required">*</span>
		</label>
		<%= text_field_tag(:name,"") %><br/>
		
		<label class="control-label">
		Email
		<span class="required">*</span>
		</label>
		<%= text_field_tag(:email,"") %><br/>
		
		<label class="control-label">
		Phone
		<span class="required">*</span>
		</label>
		<%= text_field_tag(:phone,"") %><br/>
		
		<label class="control-label" for="textarea">
		Story
		<span class="required">*</span>
		</label>
		<div class="controls">
		<TEXTAREA NAME="story" COLS=40 ROWS=5></TEXTAREA>
		
		
		<p><label for="Upload_image">Select Image</label>
		<%= file_field 'upload', 'file' %></p>

		
		
		</div>
		<%= submit_tag("upload", :value => "upload", :class=>"btn btn-primary") %>
		 
		<br>
		<br>
		
		
		
		</fieldset>
		<% end %>
		<%=@path%>
	</div>

	<div  style="float:right;height:100%; width:25%;">
		<fieldset style="height:100%;width:100%; background-color: ; color: #000000; border: 2px solid black;background-image:
		url('/images/back1.jpg')">
		
		<div >
			<div class="wellside" style="height:auto;">
			<h4 style ="padding-left: 20%">Available Stories</h4>
			<ul class="thumbnails" style="padding:15%;">
			<% if @t == nil then %> 
							
			<%else%> 
	
			 <%b=0%>
			
			<%@t.each do |i|%>
			<%b=b+1%>
			<li >
					<div id="image1" class="thumbnail"  style="background-color:#FFFFFF;>
      
	   
						<%= link_to image_tag(i["image"], :width => 225, :height => 175), :controller => "real",:action => 'conta', :id => @profile %>
							<div class="caption">
								<font size="7"><h4><%= link_to i["name"], {:controller => "real", :action => "storyparticular", :name => i["story_id"], :method => :post}%></h4></font>
	
								

								<br>
								
							</div>
							
							
					</div>
					</li>
			<%break if b==2%>
			<%end%>
			<%end%>
			
			</ul>
			<div style="padding-left:35%">
			<span style="font-size:17px; padding:10px; float:" class="label label-warning"><%=link_to "View All",:class=>"btn btn-primary", :controller => session[:master_user_name], :action => "storyview", :name => "viewall", :id => @profile%></span>
			
			</div>
			
		</div>

		</div>
		</fieldset>
		
	</div>
	
</div>




</body>
</html>
 