<!DOCTYPE html>
<html>
<head>
  <title>Realstate</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Company Logo</h3>
  </div>
  <div class="modal-body">
  
  
  	<%= form_tag({ controller:'real', :action => 'admin_home'}, :multipart => true) do %>
		
			<br>
			<br>
			<br>
			<br>
	
			<tab id=t1><h1>Home details  <small>fill details to customize your store </small></h1></tab>
			<hr>
			<br>
			<br>
			<p><label for="Upload_image">Select Company_Logo_image</label>
			<%= file_field 'upload4', 'file4' %></p>

			
			
		
		
		
		
			
			
			
			
  </div>
  <div class="modal-footer">
    <%= submit_tag("submit", :value => "testsubmit", :class=>"btn btn-primary") %>
  </div>
  <% end %>
			
</div>

<div id="my" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Company Name</h3>
  </div>
  <div class="modal-body">
  
  
  	<%= form_tag({ controller:'real', :action => 'admin_home'}, :multipart => true) do %>
		
			
			<tab id=t1><h1>Home details  <small>fill details to customize your store </small></h1></tab>
			<hr>
			<br>
			<label class="control-label">
			 Company Name
			<span class="required">*</span>
			</label>
			<%= text_field_tag(:name,"") %><br/>
			
			
			
		
			
			
			
			
			
  </div>
  <div class="modal-footer">
   <%= submit_tag("name", :value => "save name", :class=>"btn btn-primary") %>
	
  </div>
  <% end %>
</div>


 <!-- Start Header -->

 <div class="navbar navbar-fixed-top" style="background-color:black;>
 <div class="navbar-inner">
 
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" style="color:#FFFFFF;>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
		<%if session[:mode]== "edit" then %>
		<p style="float:left;margin-top:3%;margin-right:3%"><%=link_to image_tag(session[:logo], :width => 50, :height => 100)  ,'#myModal', html_options = {:data => {:toggle => 'modal'} }%></p>
		<%else%>
		<a style="float:left;margin-top:3%;margin-right:3%" href="#"><%= image_tag(session[:logo], :width => 50, :height => 100) %></a>
			
		<%end%>
		
      
		<%if session[:mode]=="edit" then%> 
		  <a  class="brand" href="#my" data-toggle="modal" ><h1 style ="font-style:italic "><%=session[:company_name]%></h1></a>	
		<%else%>
		 <a class="brand" href="#"><h1 style ="font-style:italic "><%=session[:company_name]%></h1></a>
		<%end%>
 <a style="float:right;margin-top:10px" href="#"><%=image_tag("/images/logo_img.png", :size => "76x47") %></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <a style="float:right;margin-top:20px ;margin-right:10px" href="#"><%=image_tag("/images/icon1.jpg", :size => "30x11") %></a>
   <a style="float:right;margin-top:20px ;margin-right:10px" href="#"><%=image_tag("/images/icon2.jpg", :size => "30x11") %></a>
  </div>
 
 
 
 <div style="background-color:#F5F5F5;color: #FFFFFF;>
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" style="color:#FFFFFF;>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
		
        <div class="nav-collapse">
          <ul class="nav" >
				<li><%=link_to "Home", :controller => session[:master_user_name], :action => "home", :id => @profile%></li>
				<li><%= link_to "Properties", {:controller => session[:master_user_name], :action => "search", :name => "search", :method => :post}%></li></h3>
				<li><%=link_to "Contact", :controller => session[:master_user_name], :action => "contact", :id => @profile%></li>
				<li><%= link_to "Search", {:controller => session[:master_user_name], :action => "search", :name => "search", :method => :post}%></li>
				<li><%=link_to "Stories", :controller => session[:master_user_name], :action => "story", :id => @profile%></li>
				<li><%=link_to "About Us", :controller => session[:master_user_name], :action => "about", :id => @profile%></li>
				
				<%if session[:masterflag] == "true" then %>
				
					<li><%=link_to "Admin Home ", :controller => session[:master_user_name], :action => "adminhome", :id => @profile%></li>
				<%end%>	
				
          </ul>
		  <%if session[:userflag]=="true"%>
					<ul class="nav pull-right">
						<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						My Account
						<b class="caret"></b>
						</a>
							<ul class="dropdown-menu">
								
								
			
			<li><%=link_to "My Stories", :controller => session[:master_user_name], :action => "storyview", :id => @profile,:mystories=>"mystories"%></li>
		   
			
			 <li><%=link_to "Saved Properties", :controller => session[:master_user_name], :action => "homesearch", :id => @profile,:name => "R", :method => :post,:p_id=>@p_id%>	</li>
		
			<li><%=link_to "Change Password", :controller => session[:master_user_name], :action => "userchangepwd", :id => @profile%></li>
		   
			
			 <li><%=link_to " Logout", :controller => session[:master_user_name], :action => "userlogout", :id => @profile,:name => "Residential", :method => :post%>	</li>
			
			
			
							</ul>
						</li>
					</ul>
					<%end%>
			
		   <ul class="nav pull-right">
		   <%if session[:userflag]!="true" then %>
		   <li style="float:right"><%=link_to " User Login", :controller => session[:master_user_name], :action => "userlogin", :id => @profile%></li>
			<%end%>	
		   </ul>
			
		  <ul class="nav pull-right">
		   <%if session[:adminflag]=="a" then%>
           <li><%=link_to "Change Password", :controller => session[:master_user_name], :action => "changepwd", :id => @profile%></li>
		   
			<li class="divider-vertical"></li>
			 <li><%=link_to "Logout", :controller => "real", :action => "logout", :id => @profile,:name => "Residential", :method => :post%>	</li>
			
			<%end%>
			
			
			
			
				
				
				
				
			</ul>
		  
        </div>
      </div>
    </div>

  </div>
  
  </br>
  
<br>
  
 <!-- End Header  -->

  <%= yield %>
  <!-- Start Footer -->



	
		
		
		<div class="site-footer" style="background-color:black">
				<div class="container">
					<div class="row-fluid">
						<div class="span12">
							<div class="span6">
								<h3>Metawing <span>&copy; 2013</span></h3>
								<div class="space"></div>
								<p>We are one of the largest property managers in the region, managing approximately 120,000 properties valued at over U$50 billion.</p>
								<div class="space"></div>
								<p><a href="https://www.facebook.com/metawing?fref=ts"><%= image_tag("/images/social.png") %> </a>
								<a href="#"><%= image_tag("/images/social-twitter.png") %></a>
								<a href="#"> <%= image_tag("/images/social-google.png") %></a>
								<a href="#"><%= image_tag("/images/social-vimeo.png") %> </a></p>
							</div>
							<div class="span3">
								<h3>Sitemap</h3>
								<div class="space"></div>
								<p><a href="sell.html">Sell a Property</a></p>
								<p><a href="buying-tips.html">Buying Tips</a></p>
								<p><a href="about.html">About</a></p>
								<p><a href="contacts.html">Contacts</a></p>
							</div>
							<div class="span3">
								<h3>Property</h3>
								<div class="space"></div>
								<p><h3>Company Name: <%= session[:company_name] %></h3></p>
								<p><h3>Company Email: <%= session[:c_email]%></h3></p>
								<p><h3>Phone No.: <%= session[:phone]%></h3></p>
								
								<p><h1>Realty Inc.<h1></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- END SITE-WRAPPER -->
</body>
</html>

  